{% extends "shoestore/base.html" %}

{% block title %}Shoe Store 5000{% endblock %}

{% block content %}

<h1>Shoe Store 5000</h1>
<p>Here at Shoe Store 5000, we have the latest fashions and styles. So
  whether you're a professional businessman, instagram star or regular
  human; we've got what you're looking for.</p>

<h2>Check out our 🔥 hot 🔥 deals!</h2>

{% for shoe in shoes %}

{% if forloop.counter0|divisibleby:"3" %}
  <div class="row">
{% endif %}

<div class="one-third column">
  <a href="{% url 'shoe' shoe.id %}"><img src="{{shoe.image.url}}"></a><br>
  <h4>{{shoe.name}} - £{{shoe.selling_price}}</h4>
</div>
{% if forloop.counter1|divisibleby:"3" or forloop.last %}
  </div>
{% endif %}

{% empty %}
  <p>We've got no shoes on our internal shoe tracking system. Please try again
    later!</p>
{% endfor %}

{% endblock %}
